<div id="<%= dom_id fiestum %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= fiestum.nombre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descripcion:</strong>
    <%= fiestum.descripcion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fetcha:</strong>
    <%= fiestum.fetcha %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Credado Por</strong>
    <%= fiestum.creator.username %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this fiestum", fiestum, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this fiestum', edit_fiestum_path(fiestum), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Attend this fiestum', edit_fiestum_path(fiestum), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
