<%= form_with(model: fiestum) do |form| %>

  <!--Error-->
  <% if fiestum.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(fiestum.errors.count, "error") %> prohibited this fiestum from being saved:</h2>

      <ul>
        <% fiestum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :descripción %>
    <%= form.text_area :descripcion, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :lugar %>
    <%= form.text_field :lugar, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :fetcha %>
    <%= form.datetime_field :fetcha, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <!--Two different buttons with the same function.  one says one thing, the other says another-->
  <% if action_name == "new" ||  action_name == "create" %>
    <div class="inline">
      <%= form.submit "Crea una nueva fiesta",  class: "mt-2 w-full text-center rounded-lg py-3 px-5 bg-gray-100 hover:bg-green-300 inline-block font-medium" %>
    </div>
  <% end %>

  <% if action_name == "edit" || action_name == "update" %>
    <div class="inline">
      <%= form.submit "Actualiza su fiesta",  class: "mt-2 w-full text-center rounded-lg py-3 px-5 bg-gray-100 hover:bg-green-300 inline-block font-medium" %>
    </div>
  <% end %>


<% end %>
