<%= form_with(model: fiestum) do |form| %>

  <!--Error-->
  <% if fiestum.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(fiestum.errors.count, "errores") %> no pueden para guardar la fiesta:</h2>

      <ul>
        <% fiestum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nombre , class: "font-semibold"%>
    <%= form.text_field :nombre, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :descripción , class: "font-semibold"%>
    <%= form.text_area :descripcion, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :lugar , class: "font-semibold"%>
    <%= form.text_field :lugar, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :fetcha , class: "font-semibold"%>
    <%= form.datetime_field :fetcha, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <!--Code for when making a new fiesta-->
  <% if action_name == "new" ||  action_name == "create" %>
    <div class="my-5">
      <%= form.label 'Agrega una imagen' , class: "font-semibold"%><br>
      <%= form.file_field :imagen, accept: 'image/png, image/gif, image/jpeg', class: "mt-3" %>
    </div>
    <div class="inline">
      <%= form.submit "Crea una nueva fiesta",  class: "mt-2 w-full text-center rounded-lg py-3 px-5 bg-gray-100 hover:bg-green-300 inline-block font-medium" %>
    </div>
  <% end %>

  <!--Code for when editing a fiesta-->
  <% if action_name == "edit" || action_name == "update" %>
    <div class="my-5">
      <%= form.label 'Cambia la imagen' , class: "font-semibold"%> <br>
      <%= form.file_field :imagen, accept: 'image/png, image/gif, image/jpeg', class: "mt-3" %>
    </div>

    <div class="inline">
      <%= form.submit "Actualiza su fiesta",  class: "mt-2 w-full text-center rounded-lg py-3 px-5 bg-gray-100 hover:bg-green-300 inline-block font-medium" %>
    </div>

  <% end %>

<% end %>
