<!-- Navbar -->
<nav class="relative p-6 bg-gray-700 text-white">
  <!--Notice-->
  <div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 w-full text-center bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="py-2 px-3 w-full text-center bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>
  </div>
  <!--Flex container-->
  <div class="flex flex-col md:flex-row items-center justify-between">
    <!--Logo-->
    <div class="pt-2 flex flex-row items-center gap-5">
      <!--Image-->
      <div class="">
        <%= image_tag "logo_hat.png", class: "max-h-40 md:max-h-20" %>
      </div>
      <!--text-->
      <h1 class="font-curs text-5xl hover:text-slate-500">
        <%= link_to 'Fiesta Encontrando', root_path %>
      </h1>
    </div>

    <!--Menu Items-->
    <div class="flex flex-col md:flex-row md:items-center md:space-x-6 gap-3 mt-3">
      <a href="#" class="hidden hover:text-slate-500 md:block">Fiestas Pasadas</a>
      <a href="#" class="hidden hover:text-slate-500 md:block">Fiestas Próximas</a>
      <!--Button-->
      <% if user_signed_in? %>
        <%= button_to 'Desconecta', destroy_user_session_path, method: :delete, class: "text-center block p-3 px-6 text-slate-900 bg-slate-300 rounded-full hover:bg-slate-200" %>
        <%= link_to 'Perfil', fiesta_perfil_path, method: :get, 'data-turbo': false, class: "text-center block p-3 px-6 text-white bg-slate-900 rounded-full hover:bg-slate-800" %>
      <% else %>
        <%= link_to 'Inscribe', new_user_registration_path, class: "text-center block p-3 px-6 text-slate-900 bg-slate-300 rounded-full hover:bg-slate-200" %>
        <%= link_to 'Inicia', new_user_session_path, class: "text-center block p-3 px-6 text-white bg-slate-900 rounded-full hover:bg-slate-800" %>
      <% end %>
    </div>

  </div>
</nav>    