<!--Fiestas proximas section-->
<div class="bg-white px-2 md:px-10 md:pb-10 md:pt-5 ">
  <!--Headline and view more-->
  <div class="flex flex-row justify-between items-center py-3">
    <!--Headline-->
    <div class="font-bold text-2xl">
      Fiestas Proximas
    </div>
    <!--View More-->
    <div class="text-slate-500 hover:bg-slate-100 rounded-xl p-2">
      Ver más
    </div>
  </div>
  <!--Actual feed content-->
  <div class="flex flex-row overflow-x-scroll pb-10" >
    <% @fiesta.limit(6).reverse_each do | fiestum | %>
      <!--Each bubble-->
      <div id="<%= dom_id fiestum %>" class="flex flex-col justify-start bg-white drop-shadow-md rounded-xl p-0 mx-2 mb-2">

        <!--Picture-->
        <div class="text-center w-full h-48 w-72 ">
          <%#= image_tag "fiestas/#{rand(12)}", class: "h-48 object-cover rounded-t-xl" %>
          <%= link_to fiestum do %>
            <%= image_tag "fiestas/#{rand(12)}", class: "h-48 object-cover rounded-t-xl" %>
          <% end %>
        </div>
        
        <!--Date-->
        <div class="px-3">
          <strong class="block font-medium mb-1">
            <%= link_to fiestum, class: "text-xs hover:text-gray-600" do %>
              <%= fiestum.fetcha.strftime("%^a, %^b %-d, %Y") %>
            <% end %>
          </strong>
        </div>

        <!--Name of event-->
        <div class="px-3">
          <strong class="block font-medium mb-1">
            <%= link_to fiestum.nombre, fiestum, class: "hover:text-gray-600" %>
          </strong>
        </div>

        <!--Location-->
        <div class="px-3">
          <%= link_to fiestum.lugar, fiestum, class: "hover:text-gray-600" %>
        </div>
        
        <!--Created by-->
        <div class="px-3 italic text-xs">
          <%= link_to fiestum, class: "hover:text-gray-600" do %>
            Credado por @<%= fiestum.creator.username %>
          <% end %>
        </div>

        <div class="flex flex-row justify-between">
          <!--buttons-->  
          <% if current_user && fiestum.creator != current_user && !fiestum.attendees.include?(current_user) %>
            <%= link_to create_attending_fiestum_path(:user_id => current_user.id, :id => fiestum.id), method: :post, class: "px-3 bg-slate-100 w-5/6 m-3 mr-1 text-center rounded-md hover:bg-slate-200 " do %>
              ★ Interestante
            <% end %>
          <% else %>
            <%= link_to fiestum, class: "px-3 bg-slate-300 w-5/6 m-3 mr-1 text-center rounded-md hover:bg-slate-400 " do %>
              ✓ Vamos a la fiesta
            <% end %>
          <% end %>



          <%= link_to fiestum, class: "px-3 bg-slate-100 w-1/6 m-3 mr-1 text-center rounded-md hover:bg-slate-200 " do %>
              ?
          <% end %>


        </div>
      </div>  
    <% end %>
  </div>
</div>