<%= render 'navbar' %>

<div class="mx-auto md:w-1/2 w-full p-5">
  <div class="flex flex-row justify-between items-center py-3">
    <!--Headline-->
    <div class="font-bold text-2xl">
      Edita Fiesta
    </div>
    <%= link_to root_path do %>
      <div class="text-slate-500 hover:bg-slate-100 rounded-xl p-2">
        ↩ Vuelve Atrás
      </div>
    <% end %>
    
  </div>

  <%= render "form", fiestum: @fiestum %>

  <!--Cancel button-->
  <%= button_to 'Cancela la fiesta', fiestum_path(@fiestum), method: :delete, class: "mt-2 w-full text-center rounded-lg py-3 px-5 bg-gray-100 hover:bg-red-300 inline-block font-medium" %>
  <!--Back button-->
  <div class="inline">
    <%= link_to "Vuelve Atrás", 'javascript:history.back()',  class: "mt-2 w-full text-center rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-300 inline-block font-medium" %>
  </div>
</div>
