<!DOCTYPE html>
<html>
  <head>
    <title>Fiesta Encontrando - El Lugar Para Encontrando Las Fiestas En Su Region</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap" rel="stylesheet">

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <br><br><br><br><br><br><br><br><br><br>
    <div class="text-center italic text-gray-200 py-5 bg-gray-700 text-sm">
    Sitio creado por <%=link_to "Tim Jedrek", "https://timjedrek.com", class: "hover:text-gray-400 hover:underline " %> el 1 de agosto de 2022
    </div>
  </body>
</html>
