<!DOCTYPE html>
<html>
  <head>
    <title>Fiesta Encontrando - El Lugar Para Encontrando Las Fiestas En Su Region</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap" rel="stylesheet">

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!--Notices from devise-->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- Navbar -->
    <nav class="relative p-6 bg-gray-700 text-white">
      <!--Flex container-->
      <div class="flex items-center justify-between">
        <!--Logo-->
        <div class="pt-2 flex flex-row items-center gap-5">
          <!--Image-->
          <div class="">
            <%= image_tag "logo_hat.png", class: "max-h-40 md:max-h-20" %>
          </div>
          <!--text-->
          <h1 class="font-curs text-5xl">
            Fiesta Encontrando
          </h1>
        </div>
        <!--Menu Items-->
        <div class="hidden md:flex space-x-6">
          <a href="#" class="hover:text-darkGrayishBlue">Pricing</a>
          <a href="#" class="hover:text-darkGrayishBlue">Product</a>
          <a href="#" class="hover:text-darkGrayishBlue">About Us</a>
          <a href="#" class="hover:text-darkGrayishBlue">Career</a>
          <a href="#" class="hover:text-darkGrayishBlue">Contact</a>
        </div>
        <!--Button-->
        <a href="#" class="hidden md:block p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">Get Started</a>
        <!-- Hamburger Icon -->
        <button
          id="menu-btn"
          class="block hamburger md:hidden focus:outline-none"
        >
          <span class="hamburger-top"></span>
          <span class="hamburger-middle"></span>
          <span class="hamburger-bottom"></span>
        </button>
      </div>

      <!-- Mobile Menu -->
      <div class="md:hidden">
        <div
          id="menu"
          class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
        >
          <a href="#">Pricing</a>
          <a href="#">Product</a>
          <a href="#">About Us</a>
          <a href="#">Careers</a>
          <a href="#">Community</a>
        </div>
      </div>
      
    </nav>    

    <%= yield %>
  </body>
</html>
