<!DOCTYPE html>
<html>
  <head>
    <title>Fiesta Encontrando - El Lugar Para Encontrando Las Fiestas En Su Region</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap" rel="stylesheet">

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!--Notices from devise-->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- Navbar -->
    <nav class="relative p-6 bg-gray-700 text-white">
      <!--Flex container-->
      <div class="flex flex-col md:flex-row items-center justify-between">
        <!--Logo-->
        <div class="pt-2 flex flex-row items-center gap-5">
          <!--Image-->
          <div class="">
            <%= image_tag "logo_hat.png", class: "max-h-40 md:max-h-20" %>
          </div>
          <!--text-->
          <h1 class="font-curs text-5xl hover:text-slate-500">
            Fiesta Encontrando
          </h1>
        </div>

        <!--Menu Items-->
        <div class="flex flex-col md:flex-row md:items-center md:space-x-6 gap-3 mt-3">
          <a href="#" class="hover:text-slate-500">Fiestas Pasadas</a>
          <a href="#" class="hover:text-slate-500">Fiestas Próximas</a>
          <!--Button-->
          <a href="#" class="text-center block p-3 px-6 text-white bg-slate-900 rounded-full hover:bg-slate-800">Enrolar</a>
        </div>

      </div>
    </nav>    

    <%= yield %>
  </body>
</html>
